body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

.header {
    padding: 20px;
    font-family: sans-serif;
    background-color: rgb(37, 122, 37);
    color: white;
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.links {
    display: flex;

}
.link.active {
    color:orange;
}

.link {
    padding: 5px;
    color: white;
}
.link:hover {
    color: orange;
};
.about {
    min-height: 70vh
   }

.class {
    background-color: green;
}
form {
    width: 500px;
    margin-top: 20px;
}
.contact-form {
    text-align: center;
}
